/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_minh.scss */
.minh-25vh {
  min-height: 25vh;
}
/* line 5, ../sass/partials/_minh.scss */
.minh-50vh {
  min-height: 50vh;
}
/* line 8, ../sass/partials/_minh.scss */
.minh-75vh {
  min-height: 75vh;
}
/* line 11, ../sass/partials/_minh.scss */
.minh-100vh {
  min-height: 100vh;
}

/* line 2, ../sass/partials/_opacity.scss */
.opacity-5 {
  opacity: 0.5;
}
/* line 5, ../sass/partials/_opacity.scss */
.opacity-6 {
  opacity: 0.6;
}
/* line 8, ../sass/partials/_opacity.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 11, ../sass/partials/_opacity.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 14, ../sass/partials/_opacity.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 2, ../sass/partials/_modules.scss */
.bg-dark-pink {
  background-color: #ea1c3b !important;
}

/* line 7, ../sass/partials/_modules.scss */
.h-100vh {
  height: 100vh;
}

/* line 12, ../sass/partials/_modules.scss */
.index-s1, .places-s1, .tours-s1, .contact-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s1_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 15, ../sass/partials/_modules.scss */
.index-s3, .promo-s1 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s3_bg.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 18, ../sass/partials/_modules.scss */
.index-s4, .places-s3, .tours-s2 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s4_bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 21, ../sass/partials/_modules.scss */
.index-s5, .promo-s2 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s5_bg.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 24, ../sass/partials/_modules.scss */
.index-s6, .contact-s2 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s6_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 27, ../sass/partials/_modules.scss */
.index-s7, .places-s4, .tours-s3 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s7_bg.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 30, ../sass/partials/_modules.scss */
.index-s8, .promo-s3 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s8_bg.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}
/* line 33, ../sass/partials/_modules.scss */
.index-s9, .contact-s3 {
  background-attachment: scroll;
  background-image: url(../img/index/index-s9_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 38, ../sass/partials/_modules.scss */
.maxh-600 {
  max-height: 600px;
}

/* line 31, ../sass/partials/_mixins.scss */
.error-s1 {
  background-attachment: fixed;
  background-image: url(../img/error.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.comingsoon-s1 {
  background-attachment: fixed;
  background-image: url(../img/coming.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 31, ../sass/partials/_mixins.scss */
.privacy-s1 {
  background-attachment: fixed;
  background-image: url(../img/privacy.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 4, ../sass/partials/_modules_init.scss */
.text-shadow {
  text-shadow: 1px 1px 3px #333;
}
