.bg{
    &-dark-pink{
        background-color: $color__dark-pink!important;
    }
}
.h{
    &-100vh{
        height: 100vh;
    }
}
.index{
    &-s1{
        @include set-background($bg__index-s1-img,0,"top center","cover","scroll");
    }
    &-s3{
        @include set-background($bg__index-s3-img,0,"top right","cover","scroll");
    }
    &-s4{
        @include set-background($bg__index-s4-img,0,"top left","cover","scroll");
    }
    &-s5{
        @include set-background($bg__index-s5-img,0,"top right","cover","scroll");
    }
    &-s6{
        @include set-background($bg__index-s6-img,0,"center","cover","scroll");
    }
    &-s7{
        @include set-background($bg__index-s7-img,0,"top left","cover","scroll");
    }
    &-s8{
        @include set-background($bg__index-s8-img,0,"top right","cover","scroll");
    }
    &-s9{
        @include set-background($bg__index-s9-img,0,"center","cover","scroll");
    }
}
.maxh{
    &-600{
        max-height: 600px;
    }
}
.places{
    &-s1{
        @extend .index-s1;
    }
    &-s3{
        @extend .index-s4;
    }
    &-s4{
        @extend .index-s7;
    }
}
.promo{
    &-s1{
        @extend .index-s3;
    }
    &-s2{
        @extend .index-s5;
    }
    &-s3{
        @extend .index-s8;
    }
}
.tours{
    &-s1{
        @extend .index-s1;
    }
    &-s2{
        @extend .index-s4;
    }
    &-s3{
        @extend .index-s7;
    }
}
.contact{
    &-s1{
        @extend .index-s1;
    }
    &-s2{
        @extend .index-s6;
    }
    &-s3{
        @extend .index-s9;
    }
}